In [1]:
# ==================================
# Packages 
# ==================================
import pandas as pd

In [3]:
# ==================================
# Read/Pull in Data
# ==================================
# ASCII encoded, no header and no column labels

# Read in the data file
df = pd.read_csv('data_file.txt')

# Check output
print(df.head())

# Reread the file and set header
df_headers = pd.read_csv('data_file.txt', header=None)

# Check output
print(df_headers.head())

   13904  20110101  0053  12  OVC045     10.00  .1  .2  .3 ...   .18  .19  \
0  13904  20110101   153  12  OVC049     10.00             ...
1  13904  20110101   253  12  OVC060     10.00             ...   030
2  13904  20110101   353  12  OVC065     10.00             ...
3  13904  20110101   453  12  BKN070     10.00             ...
4  13904  20110101   553  12  BKN065     10.00             ...   015

   29.95  .20  AA  .21  .22  .23 29.95.1  .24
0  30.01       AA                  30.02
1  30.01       AA                  30.02
2  30.03       AA                  30.04
3  30.04       AA                  30.04
4  30.06       AA                  30.06

[5 rows x 44 columns]
      0         1    2   3       4  5      6  7  8  9  ...   34 35     36 37  \
0  13904  20110101   53  12  OVC045     10.00          ...          29.95
1  13904  20110101  153  12  OVC049     10.00          ...          30.01
2  13904  20110101  253  12  OVC060     10.00          ...  030     30.01
3  13904  20110101  353  12  OVC065     10.00          ...          30.03
4  13904  20110101  453  12  BKN070     10.00          ...          30.04

   38 39 40 41     42 43
0  AA           29.95
1  AA           30.02
2  AA           30.02
3  AA           30.04
4  AA           30.04

[5 rows x 44 columns]

In [4]:
# ==================================
# Reassign Column Names
# ==================================

# columns that we will want to drop
list_to_drop = ['sky_conditionFlag',
 'visibilityFlag',
 'wx_and_obst_to_vision',
 'wx_and_obst_to_visionFlag',
 'dry_bulb_farenFlag',
 'dry_bulb_celFlag',
 'wet_bulb_farenFlag',
 'wet_bulb_celFlag',
 'dew_point_farenFlag',
 'dew_point_celFlag',
 'relative_humidityFlag',
 'wind_speedFlag',
 'wind_directionFlag',
 'value_for_wind_character',
 'value_for_wind_characterFlag',
 'station_pressureFlag',
 'pressure_tendencyFlag',
 'pressure_tendency',
 'presschange',
 'presschangeFlag',
 'sea_level_pressureFlag',
 'hourly_precip',
 'hourly_precipFlag',
 'altimeter',
 'record_type',
 'altimeterFlag',
 'junk']

# new names that we want to give columns
column_labels = 'Wban,date,Time,StationType,sky_condition,sky_conditionFlag,visibility,visibilityFlag,wx_and_obst_to_vision,wx_and_obst_to_visionFlag,dry_bulb_faren,dry_bulb_farenFlag,dry_bulb_cel,dry_bulb_celFlag,wet_bulb_faren,wet_bulb_farenFlag,wet_bulb_cel,wet_bulb_celFlag,dew_point_faren,dew_point_farenFlag,dew_point_cel,dew_point_celFlag,relative_humidity,relative_humidityFlag,wind_speed,wind_speedFlag,wind_direction,wind_directionFlag,value_for_wind_character,value_for_wind_characterFlag,station_pressure,station_pressureFlag,pressure_tendency,pressure_tendencyFlag,presschange,presschangeFlag,sea_level_pressure,sea_level_pressureFlag,record_type,hourly_precip,hourly_precipFlag,altimeter,altimeterFlag,junk'

# Split on the comma to create a list
column_labels_list = column_labels.split(',')

# Assign the new column labels to the DataFrame
df.columns = column_labels_list

# Remove the appropriate columns
df_dropped = df.drop(list_to_drop, axis='columns')

# Check output
print(df_dropped.head())

    Wban      date  Time  StationType sky_condition visibility dry_bulb_faren  \
0  13904  20110101   153           12        OVC049      10.00             51
1  13904  20110101   253           12        OVC060      10.00             51
2  13904  20110101   353           12        OVC065      10.00             50
3  13904  20110101   453           12        BKN070      10.00             50
4  13904  20110101   553           12        BKN065      10.00             49

  dry_bulb_cel wet_bulb_faren wet_bulb_cel dew_point_faren dew_point_cel  \
0         10.6             37          3.0              14         -10.0
1         10.6             37          2.9              13         -10.6
2         10.0             38          3.1              17          -8.3
3         10.0             37          2.8              15          -9.4
4          9.4             37          2.8              17          -8.3

  relative_humidity wind_speed wind_direction station_pressure  \
0                23         10            340            29.49
1                22         15            010            29.49
2                27          7            350            29.51
3                25         11            020            29.51
4                28          6            010            29.53

  sea_level_pressure
0              30.01
1              30.01
2              30.03
3              30.04
4              30.06

In [5]:
# Convert the date column to string
df_dropped['date'] = df_dropped['date'].astype(str)

# Pad leading zeros to the Time column
df_dropped['Time'] = df_dropped['Time'].apply(lambda x:'{:0>4}'.format(x))

# Convert time
date_string = df_dropped['date'] + df_dropped['Time']
date_times = pd.to_datetime(date_string, format='%Y%m%d%H%M')

# Set the index to be the new date_times container
df_clean = df_dropped.set_index(date_times)

# Check output
print(df_clean.head())

                      Wban      date  Time  StationType sky_condition  \
2011-01-01 01:53:00  13904  20110101  0153           12        OVC049
2011-01-01 02:53:00  13904  20110101  0253           12        OVC060
2011-01-01 03:53:00  13904  20110101  0353           12        OVC065
2011-01-01 04:53:00  13904  20110101  0453           12        BKN070
2011-01-01 05:53:00  13904  20110101  0553           12        BKN065

                    visibility dry_bulb_faren dry_bulb_cel wet_bulb_faren  \
2011-01-01 01:53:00      10.00             51         10.6             37
2011-01-01 02:53:00      10.00             51         10.6             37
2011-01-01 03:53:00      10.00             50         10.0             38
2011-01-01 04:53:00      10.00             50         10.0             37
2011-01-01 05:53:00      10.00             49          9.4             37

                    wet_bulb_cel dew_point_faren dew_point_cel  \
2011-01-01 01:53:00          3.0              14         -10.0
2011-01-01 02:53:00          2.9              13         -10.6
2011-01-01 03:53:00          3.1              17          -8.3
2011-01-01 04:53:00          2.8              15          -9.4
2011-01-01 05:53:00          2.8              17          -8.3

                    relative_humidity wind_speed wind_direction  \
2011-01-01 01:53:00                23         10            340
2011-01-01 02:53:00                22         15            010
2011-01-01 03:53:00                27          7            350
2011-01-01 04:53:00                25         11            020
2011-01-01 05:53:00                28          6            010

                    station_pressure sea_level_pressure
2011-01-01 01:53:00            29.49              30.01
2011-01-01 02:53:00            29.49              30.01
2011-01-01 03:53:00            29.51              30.03
2011-01-01 04:53:00            29.51              30.04
2011-01-01 05:53:00            29.53              30.06